
<div style="width: 45%; display: flex; justify-content: space-between">
<h1>{{title}}</h1>
<div style="margin: 10px">
    <input id="save_fcm" style="font-size: 20px; margin-right: 10px" id="create" type="button" value="Save FCM" />
    <input id="clickMe" style="font-size: 20px; margin-top: 5px" id="create" type="button" value="Layout" /></div>
</div>

<div style="width: 80%; display: flex; justify-content: space-between">
    <div id="myPaletteDiv" style="width: 120px; margin-right: 2px; background-color: white; border: solid 1px black">
    </div>
    <div id="myDiagramDiv" style="flex-grow: 1; width: 600px; height: 520px; border: solid 1px black"></div>
    <div id="list_fcms" style="width: 350px; margin-left: 2px; background-color: white; border: solid 1px black">
        <h4 class="display-6">List of FCMs</h4>
        <ul id="list_fcm" class="list-group" />
    </div>
</div>

<div style="width: 80%; display: flex; justify-content: space-between" >
    <div style="width: 65%; margin-left: 2px; margin-top: 2px; background-color: white; border: solid 1px black">
        <div class="alert alert-light" role="alert">
            <h4 class="alert-heading">Usage:</h4>
            <hr>
            <ul>
                <li>The current FCM you are editing is the green FCM of the right list</li>
                <li>All FCMs are saved on the server so that they are accessible to everyone from everywhere</li>
                <li><mark>Save your current FCM</mark> at any time by clicking on the Save FCM button</li>
                <li><mark>Create a node</mark>: simply drag and drop a nnode from the left panel</li>
                <li><mark>Create a link</mark>: click on the border of a node and release the click on another node</li>
                <li><mark>Create simultaneous events</mark> by using the node with 2 events (you can add more than 2 events with the plus or minus buttons)</li>
                <li><mark>Turn a link to negation</mark>with a right click on an existing link</li>
                <li><mark>Rename a node</mark> by double clicking on its name and press enter</li>
                <li><mark>Add or remove criteria</mark>: right click on an event node</li>
            </ul>
        </div>
    </div>
    <div style="width: 35%; margin-left: 2px; margin-top: 2px; background-color: white; border: solid 1px black">
        <div class="alert alert-light" role="alert">
            <h4 class="alert-heading">Shortcuts / Commands:</h4>
            <hr>
            <ul>
                <li>Undo <mark>Ctrl+z</mark> / Redo <mark>Ctrl+y</mark></li>
                <li>The <mark>Layout</mark> button automatically arranges nodes of your FCM</li>
                <li><mark>Rename</mark> a FCM with the first button of the FCM name in the list</li>
                <li><mark>Delete</mark> a FCM with the cross button of the FCM name in the list</li>
            </ul>
        </div>
    </div>
</div>

<!--
<div class="accordion" id="accordion" style="width: 65%;">
    <div class="card">
        <div class="alert alert-light" role="alert" id="headingOne"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h4 class="alert-heading">Usage:</h4>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <hr>
            <ul>
                <li>The current FCM you are editing is the green FCM of the right list</li>
                <li>All FCMs are saved on the server so that they are accessible to everyone from everywhere</li>
                <li><mark>Save your current FCM</mark> at any time by clicking on the Save FCM button</li>
                <li><mark>Create a node</mark>: simply drag and drop a nnode from the left panel</li>
                <li><mark>Create a link</mark>: click on the border of a node and release the click on another node</li>
                <li><mark>Create simultaneous events</mark> by using the node with 2 events (you can add more than 2 events with the plus or minus buttons)</li>
                <li><mark>Turn a link to negation</mark>with a right click on an existing link</li>
                <li><mark>Rename a node</mark> by double clicking on its name and press enter</li>
                <li><mark>Add or remove criteria</mark>: right click on an event node</li>
            </ul>
        </div>
    </div>
</div>
-->