<h1>{{title}}</h1>

<div style="width: 75%; display: flex; justify-content: space-between">
    <div id="myPaletteDiv" style="width: 120px; margin-right: 2px; background-color: white; border: solid 1px black">
    </div>
    <div id="myDiagramDiv" style="flex-grow: 1; width: 600px; height: 520px; border: solid 1px black"></div>
    <div id="list_fcms" style="width: 300px; margin-left: 2px; background-color: white; border: solid 1px black">
        <h4 class="display-6">List of FCMs</h4>
        <ul id="list_fcm" class="list-group" />
    </div>
</div>
<div style="display: flex; margin: 10px; margin-left: 300px">
    <h4 class="display-6" style="margin-right: 10px">Name of the fcm: </h4>
    <input id="fcm_name" type="text" style="font-size: 20px;" name="fcm_name" />
    <input id="save_fcm" style="font-size: 20px; margin-left: 10px" id="create" type="button" value="Save" />
</div>