
<div style="width: 40%; display: flex; justify-content: space-between">
<h1>{{title}}</h1>
<input id="save_fcm" style="font-size: 20px; margin: 10px" id="create" type="button" value="Save FCM" />
</div>

<div style="width: 80%; display: flex; justify-content: space-between">
    <div id="myPaletteDiv" style="width: 120px; margin-right: 2px; background-color: white; border: solid 1px black">
    </div>
    <div id="myDiagramDiv" style="flex-grow: 1; width: 600px; height: 520px; border: solid 1px black"></div>
    <div id="list_fcms" style="width: 350px; margin-left: 2px; background-color: white; border: solid 1px black">
        <h4 class="display-6">List of FCMs</h4>
        <ul id="list_fcm" class="list-group" />
    </div>
</div>