<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
       <link rel='stylesheet' href='/stylesheets/main.css' />
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.8.17/go.js"></script>
      <script type="text/javascript" src="javascripts/jquery.min.js"></script>
      <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
      <script type="text/javascript" src="javascripts/fcm.js"></script>
  </head>
  <body onload="init()">
    {{{body}}}
  </body>
</html>
