*, ::after, ::before {
   box-sizing: content-box;
}
body { margin: 0px auto 60px; }
body > h2 { margin: 30px 0 15px; text-shadow: 1px 1px 0 white; border-bottom: 2px solid #333; padding-bottom: 5px }
h1 { text-align: center; margin-bottom: 0px; text-shadow: 1px 1px 0 white }
strong + p { margin-top: 0 }
dt { font-weight: bold }
dd { margin: 0 }
figure { display: block; width: 100%; height: 100%; margin: 0 }
figcaption { padding: 10px 15px; position: absolute; bottom: 20px; right: 30px; z-index: 3; background: black; background: rgba(0,0,0,0.7); color: white;
  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px }
.accordion.stitch .slide div { background: #333 }
.call_out {
  color: #444444;
  background: url('../images/callout_bg.gif') repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.08);
  margin-top: 20px;
}

.call_out .wrap {
  padding: 19px 20px 17px 20px;
  border: 1px solid #d7d4cb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.call_out h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
  color: #444444;
  font-size: 18px;
  line-height: 20px;
  margin: 10px 0;
}

.call_out a.alt_btn {
  background: url('../images/sprite.png') 24px 356px;
  display: block;
  padding: 0 0 0 23px;
  float: right;
  margin: -45px 0 0 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 14px;
  color: #252525;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
  text-align: center;
  border: none;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  text-decoration: none;
  font-weight: bold;
}

.call_out a.alt_btn span {
  padding: 14px 23px 15px 0;
  background: url('../images/sprite.png') 100% 253px;
  display: block;
}

.call_out a:hover.alt_btn { background: url('../images/sprite.png') 24px 408px }
.call_out a:hover.alt_btn span { background: url('../images/sprite.png') 100% 304px }

.panel.stitch {
  position: relative;
  padding: 2px 2px 2px 2px;
  border: 2px solid #353535;
  background: #353535;
  -webkit-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
}
.panel.stitch:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -8px;
  left: -8px;
  background: #353535;
  border: 9px solid transparent;
  -webkit-border-image: url('../images/bg_stitch.png') 9 repeat;
  -moz-border-image: url('../images/bg_stitch.png') 9 repeat;
  -o-border-image: url('../images/bg_stitch.png') 9 repeat;
  border-image: url('../images/bg_stitch.png') 9 repeat;
}